.btn {
  padding: var(--calc-module-btn-default-padding-y)
    var(--calc-module-btn-default-padding-x);
  font-family: var(--calc-module-btn-font-family);
  font-size: var(--calc-module-btn-default-font-size);
  font-weight: var(--calc-module-btn-default-font-weight);
  line-height: var(--calc-module-btn-default-line-height);
  color: var(--calc-module-btn-default-color);
  border: none;
  border-radius: var(--calc-module-btn-border-radius);
  background-color: var(--calc-module-btn-default-bg);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


/***** VARIANTS *****/

.btn.btn-primary {
  color: var(--calc-module-btn-primary-color);
  background-color: var(--calc-module-btn-primary-bg);
}
.btn.btn-primary:hover {
  color: var(--calc-module-btn-primary-hover-color);
  background-color: var(--calc-module-btn-primary-hover-bg);
}
.btn.btn-secondary {
  color: var(--calc-module-btn-secondary-color);
  background-color: var(--calc-module-btn-secondary-bg);
}

.btn.btn-transparent {
  color: var(--calc-module-btn-outlined-color);
  background-color: transparent;
}


.btn.btn-white {
  color: var(--calc-module-btn-outlined-color);
  transition: filter .33s ease;
  filter:drop-shadow(0 2px 2px rgba(0,0,0,.2));
  background-color: var(   --calc-module-white);
}
.btn.btn-white:hover {
  filter: drop-shadow(0 2px 4px rgba(0,0,0,.2));
}


.btn.btn-dark {
  color: var(--calc-module-btn-dark-color);
  background-color: var(--calc-module-btn-dark-bg);
}



.btn.btn-outlined {
  border: 1px solid var(--calc-module-btn-outlined-border-color);
  color: var(--calc-module-btn-outlined-color);
  background-color: var(--calc-module-btn-outlined-bg);
}

.btn.btn-outlined:hover {
  border: 1px solid var(--action-secondary-hover-border);
  color: var(--calc-module-btn-outlined-hover-color);
  background-color: var(--calc-module-btn-outlined-hover-bg);
}

/***** SIZES *****/

.btn.btn-sm.btn-shape-circle {
  height: 32px;
  width: 32px;
}
.btn-lg {
  padding: var(--calc-module-btn-lg-padding-y)
    var(--calc-module-btn-lg-padding-x);
  font-size: var(--calc-module-btn-lg-font-size);
  line-height: var(--calc-module-btn-lg-line-height);
}
.btn-xl {
  padding: var(--calc-module-btn-xl-padding-y)
    var(--calc-module-btn-xl-padding-x);
  font-size: var(--calc-module-btn-xl-font-size);
  line-height: var(--calc-module-btn-xl-line-height);
}

.btn.btn-xl.btn-shape-circle {
  height: 72px;
  width: 72px;
}




/***** SHAPES *****/
.btn.btn-shape-circle {
  border-radius: 50%;
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--calc-module-btn-shape-circle-padding-y)
    var(--calc-module-btn-shape-circle-padding-x);
}

.btn.btn-shape-rounded {
  border-radius: var(--calc-module-btn-rounded-border-radius);
}
.btn.btn-xl.btn-shape-rounded {
  border-radius: var(--calc-module-btn-lg-rounded-border-radius);
}

.btn.full-width {
  width: 100%;
}
.btn.bordered {
  border:none;
}
