:root {
  --calc-module-btn-font-family: var(--calc-module-body-font-family);
  --calc-module-btn-border-width: 1px;
  --calc-module-btn-border-color: transparent;
  --calc-module-btn-border-radius: 0.375rem;

  --calc-module-btn-md-font-size: var(--calc-module-body1-fs);
  --calc-module-btn-md-line-height: var(--calc-module-body1-lh);
  --calc-module-btn-md-font-weight: var(--calc-module-fw-normal);
  --calc-module-btn-md-padding-x: 0.75rem;
  --calc-module-btn-md-padding-y: 0.375rem;

  --calc-module-btn-lg-font-size: var(--calc-module-body1-fs);
  --calc-module-btn-lg-line-height: var(--calc-module-body1-lh);
  --calc-module-btn-lg-padding-x: 1rem;
  --calc-module-btn-lg-padding-y: 0.75rem;

  --calc-module-btn-default-font-size: var(--calc-module-btn-md-font-size);
  --calc-module-btn-default-line-height: var(--calc-module-btn-md-line-height);
  --calc-module-btn-default-font-weight: var(--calc-module-btn-md-font-weight);
  --calc-module-btn-default-padding-x: var(--calc-module-btn-md-padding-x);
  --calc-module-btn-default-padding-y: var(--calc-module-btn-md-padding-y);

  --calc-module-btn-shape-circle-padding-y: 0.75rem;
  --calc-module-btn-shape-circle-padding-x: 0.375rem;

  --calc-module-btn-rounded-border-radius: 32px;
}
