.dark:root {
  /* Colors */
  /* Accent */
  --accent-darken: #0093c4;
  --accent: #4fc3f7;
  --accent-lighten: #8bf6ff;

  /* Secondary */
  --secondary-darken: #0e7490;
  --secondary: #06b6d4;
  --secondary-lighten: #67e8f9;

  /* Success */
  --success-darken: #15803d;
  --success: #22c55e;
  --success-lighten: #86efac;

  /* Warning */
  --warning-darken: #c2410c;
  --warning: #f97316;
  --warning-lighten: #fdba74;

  /* Danger */
  --danger-darken: #b91c1c;
  --danger: #ef4444;
  --danger-lighten: #fca5a5;

  /* Gray */
  --gray-darken: #3f3f46;
  --gray: #71717a;
  --gray-lighten: #d4d4d8;

  /* Singletons */
  --black: #000000;
  --white: #ffffff;

  /* BODY */
  --body-bg: var(--gray-darken);

  /* TYPOGRAPHY */
  --title-h1-color: var(--white);
  --title-h2-color: var(--white);
  --title-h3-color: var(--white);
  --title-h4-color: var(--white);
  --title-h5-color: var(--white);
  --title-h6-color: var(--white);

  --text-default-color: var(--white);
  --text-caption-color: var(--gray);
}