:root {
  /* Colors */
  /* Accent */
  --accent-darken: #238f50;
  --accent: #2DB867;
  --accent-lighten1: #6fdc9d;
  --accent-lighten2: #eafaf1;

  /* Secondary */
  --secondary-darken: #0e7490;
  --secondary: #06b6d4;
  --secondary-lighten: #67e8f9;

  /* Success */
  --success-darken: #15803d;
  --success: #22c55e;
  --success-lighten: #86efac;

  /* Warning */
  --warning-darken: #c2410c;
  --warning: #f97316;
  --warning-lighten: #fdba74;

  /* Danger */
  --danger-darken: #b91c1c;
  --danger: #ef4444;
  --danger-lighten: #fca5a5;

  /* Gray */
  --gray-darken: #3f3f46;
  --gray: #808080;
  --gray-lighten1: #b3b3b3;
  --gray-lighten2: #e6e6e6;

  /* Singletons */
  --black: #000000;
  --white: #ffffff;

  /* BODY */
  --body-bg: var(--gray-lighten);

  /* TYPOGRAPHY */
  --text-primary: var(--black);
  --text-secondary: var(--gray);
  --text-white: var(--white);

  /* BACKGROUNDS */
  --bg-primary: var(--accent);

  /* ACTIONS */
  --action-primary-default-border: var(--gray-lighten2);
  --action-primary-hover-border: var(--accent-lighten1);
  --action-primary-selected-border: var(--accent);
  --action-primary-bg: var(--black);
  --action-primary-hover-bg: var(--gray-darken);
  --action-primary-color: var(--white);
  --action-primary-hover-color: var(--white);
  --action-secondary-color: var(--gray-darken);
  --action-secondary-default-border: var(--gray-lighten2);
  --action-secondary-hover-border: var(--black);
  --action-secondary-hover-color: var(--white);
  --action-secondary-hover-bg: var(--black);

  /* BUTTONS */
  --btn-default-bg: var(--action-primary-bg);
  --btn-default-hover-bg: var(--action-primary-hover-bg);
  --btn-default-color: var(--action-primary-color);
  --btn-default-hover-color: var(--action-primary-hover-color);

  --btn-primary-bg: var(--action-primary-bg);
  --btn-primary-hover-bg: var(--action-primary-hover-bg);
  --btn-primary-color: var(--action-primary-color);
  --btn-primary-hover-color: var(--action-primary-hover-color);

  --btn-outlined-bg: transparent;
  --btn-outlined-color: var(--action-secondary-color);
  --btn-outlined-border-color: var(--action-secondary-default-border);
  --btn-outlined-hover-border-color: var(--action-secondary-hover-border);
  --btn-outlined-hover-color: var(--action-secondary-hover-color);
  --btn-outlined-hover-bg: var(--action-secondary-hover-bg);

  /* OPTIONS */
  --option-default-selected-background: var(--bg-primary);
  --option-default-hover-background: var(--bg-primary);
  --option-default-selected-color: var(--white);
  --option-default-hover-color: var(--white);
  --option-default-border: 1px solid var(--action-primary-default-border);
  --option-default-hover-border: 1px solid var(--action-primary-hover-border);
  --option-default-selected-border: 1px solid var(--action-primary-selected-border);
}