.dark:root {
  /* Colors */
  /* Accent */
  --calc-module-accent-darken: #0093c4;
  --calc-module-accent: #4fc3f7;
  --calc-module-accent-lighten: #8bf6ff;

  /* Secondary */
  --calc-module-secondary-darken: #0e7490;
  --calc-module-secondary: #06b6d4;
  --calc-module-secondary-lighten: #67e8f9;

  /* Success */
  --calc-module-success-darken: #15803d;
  --calc-module-success: #22c55e;
  --calc-module-success-lighten: #86efac;

  /* Warning */
  --calc-module-warning-darken: #c2410c;
  --calc-module-warning: #f97316;
  --calc-module-warning-lighten: #fdba74;

  /* Danger */
  --calc-module-danger-darken: #b91c1c;
  --calc-module-danger: #ef4444;
  --calc-module-danger-lighten: #fca5a5;

  /* Gray */
  --calc-module-gray-darken: #3f3f46;
  --calc-module-gray: #71717a;
  --calc-module-gray-lighten: #d4d4d8;

  /* Singletons */
  --calc-module-black: #000000;
  --calc-module-white: #ffffff;

  /* BODY */
  --calc-module-body-bg: var(--calc-module-gray-darken);

  /* TYPOGRAPHY */
  --calc-module-title-h1-color: var(--calc-module-white);
  --calc-module-title-h2-color: var(--calc-module-white);
  --calc-module-title-h3-color: var(--calc-module-white);
  --calc-module-title-h4-color: var(--calc-module-white);
  --calc-module-title-h5-color: var(--calc-module-white);
  --calc-module-title-h6-color: var(--calc-module-white);

  --calc-module-text-default-color: var(--calc-module-white);
  --calc-module-text-caption-color: var(--calc-module-gray);
}
