:root {
  /* Colors */
  /* Accent */
  --calc-module-accent-darken: #238f50;
  --calc-module-accent: #2db867;
  --calc-module-accent-lighten1: #6fdc9d;
  --calc-module-accent-lighten2: #eafaf1;

  /* Secondary */
  --calc-module-secondary-darken: #0e7490;
  --calc-module-secondary: #06b6d4;
  --calc-module-secondary-lighten: #67e8f9;

  /* Success */
  --calc-module-success-darken: #15803d;
  --calc-module-success: #22c55e;
  --calc-module-success-lighten: #86efac;

  /* Warning */
  --calc-module-warning-darken: #c2410c;
  --calc-module-warning: #f97316;
  --calc-module-warning-lighten: #fdba74;

  /* Danger */
  --calc-module-danger-darken: #b91c1c;
  --calc-module-danger: #ef4444;
  --calc-module-danger-lighten: #fca5a5;

  /* Gray */
  --calc-module-gray-darken: #3f3f46;
  --calc-module-gray: #808080;
  --calc-module-gray-lighten1: #b3b3b3;
  --calc-module-gray-lighten2: #e6e6e6;
  --calc-module-gray-lighten3: #F6F6F6;

  /* Singletons */
  --calc-module-black: #000000;
  --calc-module-white: #ffffff;

  /* BODY */
  --calc-module-body-bg: var(--calc-module-gray-lighten);

  /* TYPOGRAPHY */
  --calc-module-text-primary: var(--calc-module-black);
  --calc-module-text-secondary: var(--calc-module-gray);
  --calc-module-text-white: var(--calc-module-white);

  /* BACKGROUNDS */
  --calc-module-bg-primary: var(--calc-module-accent);

  /* ACTIONS */
  --calc-module-action-primary-default-border: var(--calc-module-gray-lighten2);
  --calc-module-action-primary-hover-border: var(--calc-module-accent-lighten1);
  --calc-module-action-primary-selected-border: var(--calc-module-accent);
  --calc-module-action-primary-bg: var(--calc-module-black);
  --calc-module-action-primary-hover-bg: var(--calc-module-gray-darken);
  --calc-module-action-primary-color: var(--calc-module-white);
  --calc-module-action-primary-hover-color: var(--calc-module-white);
  --calc-module-action-secondary-color: var(--calc-module-gray-darken);
  --calc-module-action-secondary-default-border: var(
    --calc-module-gray-lighten2
  );
  --calc-module-action-secondary-hover-border: var(--calc-module-black);
  --calc-module-action-secondary-hover-color: var(--calc-module-white);
  --calc-module-action-secondary-hover-bg: var(--calc-module-black);

  /* BUTTONS */
  --calc-module-btn-default-bg: var(--calc-module-action-primary-bg);
  --calc-module-btn-default-hover-bg: var(
    --calc-module-action-primary-hover-bg
  );
  --calc-module-btn-default-color: var(--calc-module-action-primary-color);
  --calc-module-btn-default-hover-color: var(
    --calc-module-action-primary-hover-color
  );

  --calc-module-btn-primary-bg: var(--calc-module-action-primary-bg);
  --calc-module-btn-primary-hover-bg: var(
    --calc-module-action-primary-hover-bg
  );
  --calc-module-btn-primary-color: var(--calc-module-action-primary-color);
  --calc-module-btn-primary-hover-color: var(
    --calc-module-action-primary-hover-color
  );

  --calc-module-btn-outlined-bg: transparent;
  --calc-module-btn-outlined-color: var(--calc-module-action-secondary-color);
  --calc-module-btn-outlined-border-color: var(
    --calc-module-action-secondary-default-border
  );
  --calc-module-btn-outlined-hover-border-color: var(
    --calc-module-action-secondary-hover-border
  );
  --calc-module-btn-outlined-hover-color: var(
    --calc-module-action-secondary-hover-color
  );
  --calc-module-btn-outlined-hover-bg: var(
    --calc-module-action-secondary-hover-bg
  );

  /* OPTIONS */
  --calc-module-option-default-selected-background: var(
    --calc-module-bg-primary
  ); --calc-module-option-default-background: var(
        --calc-module-gray-lighten2
  );
  --calc-module-option-default-hover-background: var(--calc-module-bg-primary);
  --calc-module-option-default-selected-color: var(--calc-module-white);
  --calc-module-option-default-hover-color: var(--calc-module-white);

  --calc-module-option-default-border-radius: 18px;
  --calc-module-option-default-padding: 16px;

  /* SEGMENTED */
  --calc-module-segmented-br:24px;
  --calc-module-segmented-item-br:calc(var(--calc-module-segmented-br) - 1px);
  --calc-module-segmented-box-shadow:0 4px 8px 0 rgba(0,0,0,0.08);


  /* PRICE PREVIEW */
  --calc-module-price-preview-text-color: #393c41;
}
