@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;400;600;800&display=swap");
@import url("./vars/index.css");
@import url("./bootstrap-grid.css");

html,
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rc-segmented.finance-segmented {
  overflow: hidden;
padding:4px;
}
.finance-segmented, .finance-segmented .rc-segmented-group{
  width: 100%;
  border-radius:var(--calc-module-segmented-br);
}
.finance-segmented .rc-segmented-group .rc-segmented-item,
.finance-segmented .rc-segmented-group .rc-segmented-thumb{
  flex: 1;
  border-radius:var(--calc-module-segmented-item-br);
}
.finance-segmented .rc-segmented-group .rc-segmented-item.rc-segmented-item-selected,
.finance-segmented .rc-segmented-group .rc-segmented-thumb{
  box-shadow: var(--calc-module-segmented-box-shadow);
}
