.main-page .section#prime-section {
  color: var(--white);
  height: 100vh;
}
.main-page #prime-section .description {
  margin-bottom: 0;
}
.main-page #prime-section .prime-section-video-bg {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.main-page #prime-section .prime-section-gradient-bg {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}
.main-page #prime-section .container {
  display: flex;
  align-items: center;
  position: relative;
}

.main-page #prime-section .section-content {
  height: inherit;
}

.main-page #services-section {
  background-color: #fafafa;
}

.main-page #technologies-section .technologies-section-video-bg {
  object-fit: cover;
  width: 100%;
  position: absolute;
  height: 100%;
}

.main-page #technologies-section .section-content {
  position: relative;
}

.main-page #ukranian-developers-section {
  background: url("/backgrounds/ukranian-devs-cover.png") bottom center / cover
    no-repeat;
}
.main-page #about-senseteq-section .container {
  padding-left: 0;
  padding-right: 0;
}
