.main-page #prime-section {
  color: var(--white);
  background-image: url("/main-page-cover.jpg");
  height: 100vh;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
}
.main-page #prime-section .container {
  display: flex;
  align-items: center;
  position: relative;
}

.main-page #prime-section h1 .regular {
  font-weight: 300;
}

.main-page #prime-section .section-content {
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  );
  height: inherit;
}
.main-page #prime-section .down-arrow-wrapper .down-arrow-icon {
  width: 26px;
  height: 14px;
  position: relative;
}
.main-page #prime-section .down-arrow-wrapper {
  position: absolute;
  bottom: 20px;
  left: calc(100% / 2 - 13px);
  -webkit-animation: arrrow-bottom-animation 1s infinite alternate;
  animation: arrrow-bottom-animation 1s infinite alternate;
}
@-webkit-keyframes arrrow-bottom-animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes arrrow-bottom-animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.main-page #how-we-do-it-section .how-we-do-it-item-wrapper {
  margin-bottom: 20px;
}
.main-page
  #how-we-do-it-section
  .how-we-do-it-item-wrapper:nth-last-of-type(1) {
  margin-bottom: 0;
}
.main-page #how-we-do-it-section .how-we-do-it-item {
  background-color: var(--dark);
  color: var(--white);
  padding: 30px 30px 40px;
  height: 100%;
  border-radius: var(--border-radius-default);
  transition: all 0.4s ease-out;
}
.main-page #how-we-do-it-section .how-we-do-it-item:hover {
  background-color: var(--primary);
  color: var(--white);
  transition: all 0.4s ease-out;
}
.main-page #how-we-do-it-section .how-we-do-it-item .title {
  margin-bottom: 16px;
}
.main-page #how-we-do-it-section .how-we-do-it-item .description {
  font-size: 14px;
  line-height: 20px;
}
.main-page #services-section {
  background-color: #fafafa;
}
.main-page #services-section .service-item-wrapper {
  margin-bottom: 40px;
}
.main-page #services-section .service-item-wrapper:nth-last-of-type(1) {
  margin-bottom: 0;
}
.main-page #services-section .service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-page #services-section .service-item .caption {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
.main-page #services-section .service-item-wrapper .service-icon-wrapper {
  position: relative;
  width: 60px;
  height: 60px;
  margin-bottom: 24px;
}
.main-page #project-support-section h2 {
  margin-bottom: 22px;
}
.main-page #project-support-section .reason-item-wrapper {
  position: relative;
  padding-top: 64px;
  margin-bottom: 46px;
}
.main-page #project-support-section .reason-item-wrapper .number-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-page
  #project-support-section
  .reason-item-wrapper
  .number-wrapper
  .number {
  color: #f4f4f4;
  font-size: 200px;
  line-height: 150px;
  font-weight: var(--font-weight-title);
  margin-bottom: 0;
}
.main-page #project-support-section .reason-item {
  position: relative;
}
.main-page #project-support-section .reason-item-wrapper:nth-last-of-type(1) {
  margin-bottom: 0;
}
.main-page #project-support-section .reason-item .title {
  margin-bottom: 12px;
}
.main-page #project-support-section .reason-item .description {
  font-size: 18px;
  line-height: 30px;
}

.main-page #project-support-section .project-count-wrapper {
  position: relative;
  padding-top: 60px;
  padding-bottom: 50px;
  border-top: 1px solid var(--dark);
  border-bottom: 1px solid var(--dark);
  text-align: center;
  margin-bottom: 60px;
}

.main-page #project-support-section .project-count-wrapper .title {
  margin-bottom: 0;
}
.main-page #project-support-section .project-count-wrapper .uptitle {
  position: absolute;
  top: -20px;
  left: calc(100% / 2 - 94px);
  background-color: var(--dark);
  color: var(--white);
  padding: 10px 44px;
  text-transform: uppercase;
  font-weight: var(--font-weight-title);
  font-size: 12px;
  letter-spacing: 2px;
  width: fit-content;
}
.main-page #project-support-section .apply-button {
  display: flex;
  justify-content: center;
}

.main-page #guarantees-section {
  background-color: var(--dark);
  color: var(--white);
}

.main-page #guarantees-section .guarantee-item-wrapper {
  margin-bottom: 20px;
}
.main-page #guarantees-section .guarantee-item-wrapper:nth-last-of-type(1) {
  margin-bottom: 0;
}
.main-page #guarantees-section .guarantee-item-wrapper .guarantee-item {
  background-color: var(--white);
  color: var(--dark);
  padding: 30px;
  height: 100%;
  border-radius: var(--border-radius-default);
  font-weight: var(--font-weight-title);
  font-size: 20px;
  transition: all 0.4s ease-out;
}
.main-page #guarantees-section .guarantee-item-wrapper .guarantee-item:hover {
  background-color: var(--primary);
  transition: all 0.4s ease-out;
}

.main-page #industries-section .industry-item-wrapper {
  margin-bottom: 20px;
}
.main-page #industries-section .industry-item-wrapper:nth-last-of-type(1) {
  margin-bottom: 0;
}
.main-page #industries-section .industry-item-wrapper .industry-item {
  position: relative;
  padding-bottom: 100%;
}
.main-page
  #industries-section
  .industry-item-wrapper
  .industry-item
  .industry-item-blackout {
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  );
  display: flex;
  align-items: end;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.main-page
  #industries-section
  .industry-item-wrapper
  .industry-item
  .industry-item-content {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 36px;
  color: var(--white);
  width: 100%;
}
.main-page
  #industries-section
  .industry-item-wrapper
  .industry-item
  .industry-item-content
  .subtitle {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--font-weight-title);
  padding-bottom: 14px;
  border-bottom: 1px solid var(--primary);
  margin-bottom: 14px;
}

@media (min-width: 640px) {
  .main-page #prime-section .down-arrow-wrapper .down-arrow-icon {
    width: 40px;
    height: 20px;
  }

  .main-page #prime-section .down-arrow-wrapper {
    position: absolute;
    bottom: 40px;
    left: calc(100% / 2 - 20px);
  }

  .main-page #how-we-do-it-section .how-we-do-it-item .description {
    font-size: 16px;
    line-height: 24px;
  }
  .main-page #services-section .service-item .caption {
    font-size: 18px;
    line-height: 24px;
  }
  .main-page #project-support-section h2 {
    margin-bottom: 22px;
  }
  .main-page #project-support-section .uptitle {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .main-page #how-we-do-it-section .how-we-do-it-item-wrapper {
    margin-bottom: 32px;
  }

  .main-page
    #how-we-do-it-section
    .how-we-do-it-item-wrapper:nth-last-of-type(-n + 2) {
    margin-bottom: 0;
  }
  .main-page
    #guarantees-section
    .guarantee-item-wrapper:nth-last-of-type(-n + 4) {
    margin-bottom: 0;
  }
  .main-page
    #industries-section
    .industry-item-wrapper:nth-last-of-type(-n + 3) {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .main-page #services-section .service-item .caption {
    font-size: 20px;
    line-height: 28px;
  }
}

@media (min-width: 1440px) {
  .main-page #how-we-do-it-section .how-we-do-it-item-wrapper {
    margin-bottom: 36px;
  }

  .main-page
    #how-we-do-it-section
    .how-we-do-it-item-wrapper:nth-last-of-type(-n + 3) {
    margin-bottom: 0;
  }
}
