.team-page #prime-section h2,
.team-page #rising-stars-section h2 {
  margin-bottom: 22px;
}

.team-page #prime-section .subtitle-wrapper {
  margin-bottom: 120px;
}
.team-page .person-view-wrapper {
  margin-bottom: 28px;
}

.team-page .person-view-wrapper:nth-last-of-type(1) {
  margin-bottom: 0;
}

.team-page .person-view-item {
  margin: 0 auto;
}

.team-page .person-view-item .person-view-image {
  position: relative;
  padding-top: 100%;
  margin-bottom: 16px;
}

.team-page .person-view-item .name {
  font-weight: 700;
  margin-bottom: 0;
}
.team-page .person-view-item .role {
  color: var(--secondary);
  font-size: 12px;
  line-height: 18px;
}
.team-page #rising-stars-section .subtitle-wrapper {
  margin-bottom: 48px;
}
@media (min-width: 576px) {
  .team-page .person-view-item {
    max-width: 220px;
  }
  .team-page .person-view-image {
    width: 100%;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .team-page #prime-section .person-view-wrapper:nth-last-of-type(-n + 2) {
    margin-bottom: 0;
  }
  .team-page
    #rising-stars-section
    .person-view-wrapper:nth-last-of-type(-n + 2) {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .team-page .person-view-wrapper {
    margin-bottom: 32px;
  }
}
@media (min-width: 1200px) {
  .team-page .person-view-item {
    max-width: 276px;
  }
  .team-page .person-view-item .role {
    font-size: 14px;
    line-height: 22px;
  }
}
