.technologies-page #secret-weapon-section .description-wrapper {
  margin-bottom: 32px;
}
.technologies-page #secret-weapon-section .description-wrapper .caption {
  text-transform: uppercase;
  margin-bottom: 8px;
}

.technologies-page #secret-weapon-section .qonsoll-logo-wrapper {
  background: url(/assets/qonsoll_logo.png) center center / cover no-repeat;
  position: relative;
  padding-top: 100%;
}
@media (min-width: 576px) {
  .technologies-page #secret-weapon-section .description-wrapper {
    margin-bottom: 0;
  }
}
