:root {
  /* BUTTON */
  --btn-font-family: var(--body-font-family);

  /* Button md */
  --btn-md-font-size: var(--body-fs);
  --btn-md-line-height: var(--body-lh);
  --btn-md-font-weight: var(--bold-fw);
  --btn-md-horizontal-padding: 60px;
  --btn-md-vertical-padding: 18px;
  --btn-md-border-radius: calc(
    (var(--btn-default-vertical-padding) * 2 + var(--btn-default-line-height)) /
      2
  );
  /* Button default */
  --btn-default-font-size: var(--btn-md-font-size);
  --btn-default-line-height: var(--btn-md-line-height);
  --btn-default-font-weight: var(--btn-md-font-weight);
  --btn-default-horizontal-padding: var(--btn-md-horizontal-padding);
  --btn-default-vertical-padding: var(--btn-md-vertical-padding);
  --btn-default-border-radius: var(--btn-md-border-radius);

  /* Button lg */
  --btn-lg-font-size: var(--description-fs);
  --btn-lg-line-height: var(--description-lh);
  --btn-lg-font-weight: var(--bold-fw);
  --btn-lg-horizontal-padding: 80px;
  --btn-lg-vertical-padding: 20px;
  --btn-lg-border-radius: calc(
    (var(--btn-lg-vertical-padding) * 2 + var(--btn-lg-line-height)) / 2
  );
}
