:root {
  /* Typography */
  --root-font-size: 16px;
  --body-font-family: "GalanoGrotesque", Arial, sans-serif;
  --title-font-family: "GalanoGrotesque", Arial, sans-serif;

  /* Font size */
  --h1-fs: 5.75rem;
  --h2-fs: 4.5rem;
  --h3-fs: 2.25rem;
  --h4-fs: 1.125rem;
  --body-fs: 1.125rem;
  --caption-fs: 0.875rem;
  --description-fs: 1.5rem;

  /* Line height */
  --h1-lh: 6.75rem;
  --h2-lh: 5.5rem;
  --h3-lh: 3rem;
  --h4-lh: 1.75rem;
  --body-lh: 1.75rem;
  --caption-lh: 1.125rem;
  --description-lh: 2.25rem;

  /* Font weight */
  --bold-fw: 700;
  --regular-fw: 400;

  /* Gutters */
  --h1-mb: 32px;
  --h2-mb: 24px;
  --h3-mb: 12px;
  --h4-mb: 8px;
  --description-mb: 32px;

  /* Text */
  /* Body */
  --text-body-font-size: var(--body-fs);
  --text-body-line-height: var(--body-lh);
  --text-body-font-weight: var(--regular-fw);
  --text-body-margin-top: 0;
  --text-body-margin-bottom: 0;
  --text-body-font-family: var(--body-font-family);

  /* Caption */
  --text-caption-font-size: var(--caption-fs);
  --text-caption-line-height: var(--caption-lh);
  --text-caption-font-weight: var(--bold-fw);
  --text-caption-margin-top: 0;
  --text-caption-margin-bottom: 0;
  --text-caption-font-family: var(--title-font-family);
  --text-caption-letter-spasing: 2px;

  /* Description */
  --text-description-font-size: var(--description-fs);
  --text-description-line-height: var(--description-lh);
  --text-description-font-weight: var(--regular-fw);
  --text-description-margin-top: 0;
  --text-description-font-family: var(--body-font-family);
  --text-description-margin-bottom: var(--description-mb);

  /* Title */
  /* H1 */
  --title-h1-font-size: var(--h1-fs);
  --title-h1-line-height: var(--h1-lh);
  --title-h1-font-weight: var(--bold-fw);
  --title-h1-margin-top: 0;
  --title-h1-margin-bottom: var(--h1-mb);
  --title-h1-font-family: var(--title-font-family);

  /* H2 */
  --title-h2-font-size: var(--h2-fs);
  --title-h2-line-height: var(--h2-lh);
  --title-h2-font-weight: var(--bold-fw);
  --title-h2-margin-top: 0;
  --title-h2-margin-bottom: var(--h2-mb);
  --title-h2-font-family: var(--title-font-family);

  /* H3 */
  --title-h3-font-size: var(--h3-fs);
  --title-h3-line-height: var(--h3-lh);
  --title-h3-font-weight: var(--bold-fw);
  --title-h3-margin-top: 0;
  --title-h3-margin-bottom: var(--h3-mb);
  --title-h3-font-family: var(--title-font-family);

  /* H4 */
  --title-h4-font-size: var(--h4-fs);
  --title-h4-line-height: var(--h4-lh);
  --title-h4-font-weight: var(--bold-fw);
  --title-h4-margin-top: 0;
  --title-h4-margin-bottom: var(--h4-mb);
  --title-h4-font-family: var(--title-font-family);
}

@media (max-width: 1200px) {
  :root {
    /* Font size */
    --h1-fs: 4.25rem;
    --h2-fs: 2.375rem;
    --h3-fs: 1.25rem;
    --h4-fs: 1rem;
    --body-fs: 1rem;
    --caption-fs: 0.75rem;
    --description-fs: 1.375rem;

    /* Line height */
    --h1-lh: 5rem;
    --h2-lh: 2.875rem;
    --h3-lh: 1.75rem;
    --h4-lh: 1.5rem;
    --body-lh: 1.5rem;
    --caption-lh: 0.875rem;
    --description-lh: 2.125rem;

    /* Gutters */
    --h1-mb: 28px;
    --h2-mb: 22px;
    --h3-mb: 8px;
    --h4-mb: 4px;
    --description-mb: 28px;
  }
}

@media (max-width: 575px) {
  :root {
    /* Font size */
    --h1-fs: 2rem;
    --h2-fs: 1.875rem;
    --h3-fs: 1.125rem;
    --h4-fs: 0.875rem;
    --body-fs: 0.875rem;
    --caption-fs: 0.625rem;
    --description-fs: 1rem;

    /* Line height */
    --h1-lh: 2.375rem;
    --h2-lh: 2.25rem;
    --h3-lh: 1.5rem;
    --h4-lh: 1.25rem;
    --body-lh: 1.25rem;
    --caption-lh: 0.75rem;
    --description-lh: 1.5rem;

    /* Gutters */
    --h1-mb: 22px;
    --h2-mb: 16px;
    --h3-mb: 6px;
    --h4-mb: 4px;
    --description-mb: 22px;
  }
}
