:root {
  /* Typography */
  --root-font-size: 16px;
  --body-font-family: "GalanoGrotesque", Arial, sans-serif;
  --title-font-family: "GalanoGrotesque", Arial, sans-serif;

  /* Font size */
  --h1-fs: 5.75rem;
  --h2-fs: 4.5rem;
  --h3-fs: 3rem;
  --h4-fs: 2.25rem;
  --h5-fs: 1.5rem;
  --h6-fs: 1.125rem;
  --body-fs: 1.125rem;
  --body2-fs: 1rem;
  --caption-fs: 0.875rem;
  --caption2-fs: 0.75rem;
  --description-fs: 1.5rem;

  /* Line height */
  --h1-lh: 6.785rem;
  --h2-lh: 7.2rem;
  --h3-lh: 4.8rem;
  --h4-lh: 3.6rem;
  --h5-lh: 2.4rem;
  --h6-lh: 1.8rem;
  --body-lh: 1.8rem;
  --body2-lh: 1.6rem;
  --caption-lh: 1.4rem;
  --caption2-lh: 1.2rem;
  --description-lh: 2.4rem;

  /* Font weight */
  --black-fw: 900;
  --bolder-fw: 800;
  --bold-fw: 700;
  --semibold-fw: 600;
  --medium-fw: 500;
  --regular-fw: 400;
  --light-fw: 300;
  --lighter-fw: 200;
  --thin-fw: 100;

  /* Gutters */
  --h1-mb: 34px;
  --h2-mb: 28px;
  --h3-mb: 22px;
  --h4-mb: 16px;
  --h5-mb: 8px;
  --h6-mb: 0px;
  --description-mb: 32px;

  /* Text */
  /* Body */
  --text-body-font-size: var(--body-fs);
  --text-body-line-height: var(--body-lh);
  --text-body-font-weight: var(--regular-fw);
  --text-body-margin-top: 0;
  --text-body-margin-bottom: 0;
  --text-body-font-family: var(--body-font-family);

  /* Body2 */
  --text-body2-font-size: var(--body2-fs);
  --text-body2-line-height: var(--body2-lh);
  --text-body2-font-weight: var(--regular-fw);
  --text-body2-margin-top: 0;
  --text-body2-margin-bottom: 0;
  --text-body2-font-family: var(--body-font-family);

  /* Caption */
  --text-caption-font-size: var(--caption-fs);
  --text-caption-line-height: var(--caption-lh);
  --text-caption-font-weight: var(--bold-fw);
  --text-caption-margin-top: 0;
  --text-caption-margin-bottom: 0;
  --text-caption-font-family: var(--title-font-family);
  --text-caption-letter-spasing: 2px;

  /* Caption2 */
  --text-caption2-font-size: var(--caption2-fs);
  --text-caption2-line-height: var(--caption2-lh);
  --text-caption2-font-weight: var(--bold-fw);
  --text-caption2-margin-top: 0;
  --text-caption2-margin-bottom: 0;
  --text-caption2-font-family: var(--title-font-family);
  --text-caption2-letter-spasing: 2px;

  /* Description */
  --text-description-font-size: var(--description-fs);
  --text-description-line-height: var(--description-lh);
  --text-description-font-weight: var(--regular-fw);
  --text-description-margin-top: 0;
  --text-description-font-family: var(--body-font-family);
  --text-description-margin-bottom: var(--description-mb);

  /* Title */
  /* H1 */
  --title-h1-font-size: var(--h1-fs);
  --title-h1-line-height: var(--h1-lh);
  --title-h1-font-weight: var(--bold-fw);
  --title-h1-margin-top: 0;
  --title-h1-margin-bottom: var(--h1-mb);
  --title-h1-font-family: var(--title-font-family);

  /* H2 */
  --title-h2-font-size: var(--h2-fs);
  --title-h2-line-height: var(--h2-lh);
  --title-h2-font-weight: var(--bold-fw);
  --title-h2-margin-top: 0;
  --title-h2-margin-bottom: var(--h2-mb);
  --title-h2-font-family: var(--title-font-family);

  /* H3 */
  --title-h3-font-size: var(--h3-fs);
  --title-h3-line-height: var(--h3-lh);
  --title-h3-font-weight: var(--bold-fw);
  --title-h3-margin-top: 0;
  --title-h3-margin-bottom: var(--h3-mb);
  --title-h3-font-family: var(--title-font-family);

  /* H4 */
  --title-h4-font-size: var(--h4-fs);
  --title-h4-line-height: var(--h4-lh);
  --title-h4-font-weight: var(--bold-fw);
  --title-h4-margin-top: 0;
  --title-h4-margin-bottom: var(--h4-mb);
  --title-h4-font-family: var(--title-font-family);

  /* H5 */
  --title-h5-font-size: var(--h5-fs);
  --title-h5-line-height: var(--h5-lh);
  --title-h5-font-weight: var(--bold-fw);
  --title-h5-margin-top: 0;
  --title-h5-margin-bottom: var(--h5-mb);
  --title-h5-font-family: var(--title-font-family);

  /* H6 */
  --title-h6-font-size: var(--h6-fs);
  --title-h6-line-height: var(--h6-lh);
  --title-h6-font-weight: var(--bold-fw);
  --title-h6-margin-top: 0;
  --title-h6-margin-bottom: var(--h6-mb);
  --title-h6-font-family: var(--title-font-family);
}

@media (max-width: 1200px) {
  :root {
    /* Font size */
    --h1-fs: 4.25rem;
    --h2-fs: 2.875rem;
    --h3-fs: 2.25rem;
    --h4-fs: 1.75rem;
    --h5-fs: 1.25rem;
    --h6-fs: 1rem;
    --body-fs: 1rem;
    --body2-fs: 0.875rem;
    --caption-fs: 0.75rem;
    --caption2-fs: 0.625rem;
    --description-fs: 1.375rem;

    /* Line height */
    --h1-lh: 5rem;
    --h2-lh: 4.6rem;
    --h3-lh: 3.6rem;
    --h4-lh: 2.8rem;
    --h5-lh: 2rem;
    --h6-lh: 1.6rem;
    --body-lh: 1.6rem;
    --body2-lh: 1.4rem;
    --caption-lh: 1.2rem;
    --caption2-lh: 1rem;
    --description-lh: 2.2rem;

    /* Gutters */
    --h1-mb: 28px;
    --h2-mb: 22px;
    --h3-mb: 18px;
    --h4-mb: 12px;
    --h5-mb: 6px;
    --h6-mb: 0px;
    --description-mb: 22px;
  }
}

@media (max-width: 575px) {
  :root {
    /* Font size */
    --h1-fs: 2.25rem;
    --h2-fs: 2rem;
    --h3-fs: 1.725rem;
    --h4-fs: 1.125rem;
    --h5-fs: 1rem;
    --h6-fs: 0.875rem;
    --body-fs: 0.875rem;
    --body2-fs: 0.75rem;
    --caption-fs: 0.75rem;
    --caption2-fs: 0.625rem;
    --description-fs: 1.125rem;

    /* Line height */
    --h1-lh: 3.375rem;
    --h2-lh: 3.2rem;
    --h3-lh: 2.76rem;
    --h4-lh: 1.8rem;
    --h5-lh: 1.6rem;
    --h6-lh: 1.4rem;
    --body-lh: 1.4rem;
    --body2-lh: 1.2rem;
    --caption-lh: 1.2rem;
    --caption2-lh: 1rem;
    --description-lh: 1.8rem;

    /* Gutters */
    --h1-mb: 22px;
    --h2-mb: 16px;
    --h3-mb: 8px;
    --h4-mb: 6px;
    --h5-mb: 4px;
    --h6-mb: 0px;
    --description-mb: 18px;
  }
}
