.option {
  border-radius: var(--calc-module-option-default-border-radius);
  padding: var(--calc-module-option-default-padding);
  background:var(--calc-module-option-default-background) ;
  cursor: pointer;
  transition: background 0.5s ease;
}
@media all and (min-width: 768px) {
  .option:hover,.option.option-selected:hover {
    background: var(--calc-module-option-default-hover-background);
    color: var(--calc-module-option-default-hover-color);
  }
}


.option.option-selected {
  animation-name: beat;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode: both;
  background: var(--calc-module-option-default-selected-background);
  color: var(--calc-module-option-default-selected-color);
}

@keyframes beat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.05);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.05);
  }

  70% {
    transform: scale(1);
  }
}
