.option {
  border: var(--calc-module-option-default-border);
  border-radius: var(--calc-module-option-default-border-radius);
  padding: var(--calc-module-option-default-padding);
  cursor: pointer;
  transition: background 0.5s ease;
}
@media all and (min-width: 768px) {
  .option:hover {
    border: var(--calc-module-option-default-hover-border);
    background: var(--calc-module-option-default-hover-background);
    color: var(--calc-module-option-default-hover-color);
  }
}

.option.option-selected {
  animation: beat 0.2s 4 alternate;
  background: var(--calc-module-option-default-selected-background);
  border: var(--calc-module-option-default-selected-border);
  color: var(--calc-module-option-default-selected-color);
}

@keyframes beat {
  to {
    transform: scale(1.05);
  }
}
