.header {
  height: 50px;
  width: 100%;
  position: fixed;
  background-color: transparent;
  color: var(--white);
  transition: 0.4s ease;
  z-index: 100;
}
.header .header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: inherit;
}
.header.header-inverse {
  color: var(--dark);
  background-color: var(--white);
  transition: 0.4s ease;
}
.header .subtitle {
  flex: 1;
  text-align: center;
  letter-spacing: 0.03em;
}
.header .menu-icon-wrapper {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header.header-inverse .menu-icon-wrapper {
  background-color: var(--dark);
}
.header .menu-icon-wrapper .icon {
  width: 28px;
  height: 28px;
  position: relative;
}
.header .logo-wrapper {
  display: none;
}
.header .menu-wrapper {
  display: none;
}
.header .languages-wrapper {
  display: none;
}
@media (min-width: 960px) {
  .header {
    height: 100px;
    font-size: 13px;
    letter-spacing: 1.92px;
    text-transform: uppercase;
  }
  .header .header-content {
    padding: 0 40px;
    max-width: 1280px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .header .subtitle {
    display: none;
  }
  .header .menu-icon-wrapper {
    display: none;
  }
  .header .logo-wrapper {
    display: block;
  }
  .header .logo-wrapper .logo {
    position: relative;
    width: 120px;
    height: 28px;
  }

  .header .menu-wrapper {
    display: flex;
    margin-left: auto;
    margin-right: 52px;
  }
  .header .menu-wrapper .menu-item {
    margin-right: 26px;
  }
  .header .menu-wrapper .menu-item {
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .header .menu-wrapper .menu-item:hover {
    border-bottom: 3px solid #2db867;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    box-sizing: border-box;
  }
  .header .menu-wrapper .menu-item:last-of-type {
    margin-right: 0;
  }
  .header .menu-wrapper .menu-item.menu-item-active:hover {
    border-bottom: 3px solid transparent;
  }
  .header .menu-wrapper .menu-item.menu-item-active {
    color: var(--primary);
  }

  .header .languages-wrapper {
    display: flex;
  }

  .header .languages-wrapper .language-item {
    cursor: pointer;
    margin-right: 18px;
  }
  .header .languages-wrapper .language-item:last-of-type {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .header .header-content {
    width: 100%;
  }
}
