#advanced-menu {
  background-color: var(--white);
  color: var(--dark);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#advanced-menu .advanced-menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#advanced-menu .menu-item-wrapper {
  padding-bottom: 16px;
  margin-bottom: 22px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid transparent;
  transition: all 0.4s ease;
  cursor: pointer;
}
#advanced-menu .menu-item-wrapper:hover {
  border-bottom: 2px solid var(--primary);
  transition: all 0.6s ease;
  -webkit-transition: all 1s ease;
}
#advanced-menu .menu-item-wrapper:last-of-type {
  margin-bottom: 0;
}
#advanced-menu .menu-item {
  font-size: 40px;
  line-height: 54px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-weight: var(--font-weight-title);
}

#advanced-menu .menu-item.menu-item-active {
  color: var(--primary);
}
#advanced-menu #languages-menu {
  font-weight: var(--font-weight-title);
  justify-content: center;
}
#simple-menu {
  display: none;
}
@media (min-width: 992px) {
  #advanced-menu {
    display: none;
  }
  #simple-menu {
    display: flex;
    margin-left: auto;
    margin-right: 52px;
  }
  #simple-menu .menu-item {
    margin-right: 26px;
  }
  #simple-menu .menu-item {
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  #simple-menu .menu-item:hover {
    border-bottom: 3px solid #2db867;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    box-sizing: border-box;
  }
  #simple-menu .menu-item:last-of-type {
    margin-right: 0;
  }
  #simple-menu .menu-item.menu-item-active:hover {
    border-bottom: 3px solid transparent;
  }
  #simple-menu .menu-item.menu-item-active {
    color: var(--primary);
  }
}
