.section {
  position: relative;
}

.section.section .container {
  height: 100%;
  padding-top: 105px;
  padding-bottom: 90px;
}
.section#prime-section .container {
  padding-top: 120px;
  padding-bottom: 90px;
}

.section.section-dark {
  background-color: var(--dark);
  color: var(--white);
}
@media (min-width: 640px) {
  .section .container {
    padding-bottom: 120px;
  }

  .section#prime-section .container {
    padding-top: 210px;
    padding-bottom: 120px;
  }
}
