.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.fw-lighter {
  font-weight: var(--calc-module-fw-lighter) !important;
}

.fw-regular {
  font-weight: var(--calc-module-fw-regular) !important;
}

.fw-semibold {
  font-weight: var(--calc-module-fw-semibold) !important;
}

.text-primary {
  color: var(--calc-module-text-primary);
}

.text-secondary {
  color: var(--calc-module-text-secondary);
}

.text-white {
  color: var(--calc-module-text-white);
}

.uppercase {
  text-transform: uppercase;
}
