html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}
h1,
h2,
h3,
h4 {
  padding: 0;
  margin-top: 0;
}
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
  display: flex;
}
input,
ul {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url("../fonts/GalanoGrotesqueAltLight.otf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "GalanoGrotesque";
  src: url("../fonts/GalanoGrotesqueAltRegular.otf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url("../fonts/GalanoGrotesqueAltMedium.otf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "GalanoGrotesque";
  src: url("../fonts/GalanoGrotesqueAltBold.otf");
  font-weight: 700;
  font-display: swap;
}

/* LIB */
@import url("aos/dist/aos.css");
@import url("./lib/vars.css");
@import url("./lib/grid.css");
@import url("./lib/typography.css");
@import url("./lib/helpers.css");
@import url("../modules/calculator/styles/globals.css");

/* COMPONENTS */
@import url("./components/header.css");
@import url("./components/footer.css");
@import url("./components/pageWrapper.css");
@import url("./components/section.css");
@import url("./components/button.css");
@import url("./components/menu.css");
@import url("./components/languagesMenu.css");
@import url("./components/customersSlider.css");
@import url("./components/sectionNavigationDots.css");

/* PAGES */
@import url("./pages/main.css");
@import url("./pages/technologies.css");
@import url("./pages/pricing.css");
@import url("./pages/team.css");
@import url("./pages/contact.css");
