@import url("./vars/index.css");
@import url("./components/index.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--root-font-size);
}
h1,
h2,
h3,
h4 {
  padding: 0;
  margin-top: 0;
}
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
  display: flex;
}
input,
ul {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url("../fonts/GalanoGrotesqueAltLight.otf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "GalanoGrotesque";
  src: url("../fonts/GalanoGrotesqueAltRegular.otf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url("../fonts/GalanoGrotesqueAltMedium.otf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "GalanoGrotesque";
  src: url("../fonts/GalanoGrotesqueAltBold.otf");
  font-weight: 700;
  font-display: swap;
}

/* LIB */
@import url("aos/dist/aos.css");
@import url("./bootstrap-grid.css");
@import url("./lib/vars.css");
@import url("./lib/helpers.css");
@import url("../modules/calculator/styles/globals.css");

/* PAGES */
@import url("./pages/main.css");
@import url("./pages/technologies.css");
@import url("./pages/pricing.css");
@import url("./pages/team.css");
@import url("./pages/contact.css");
@import url("./pages/process.css");
