/* AOS library for animations */
@import url("aos/dist/aos.css");
/* styles from mvp-calculator */
@import url("../modules/calculator/styles/globals.css");

@import url("./vars/index.css");
@import url("./components/index.css");
@import url("./domains/index.css");
@import url("./pages/index.css");
@import url("./bootstrap-grid.css");

/* FONTS */
@font-face {
  font-family: "GalanoGrotesque";
  src: url("../fonts/GalanoGrotesqueAltLight.otf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "GalanoGrotesque";
  src: url("../fonts/GalanoGrotesqueAltRegular.otf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url("../fonts/GalanoGrotesqueAltMedium.otf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "GalanoGrotesque";
  src: url("../fonts/GalanoGrotesqueAltBold.otf");
  font-weight: 700;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--root-font-size);
}
h1,
h2,
h3,
h4 {
  padding: 0;
  margin-top: 0;
}
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
  display: flex;
}
input,
ul {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
/* HELPERS */
.c-primary {
  color: var(--primary);
}
.c-white {
  color: var(--white);
}
.c-secondary {
  color: var(--secondary);
}
.regular {
  font-weight: 300;
}
.bold {
  font-weight: 700;
}
.text-center {
  text-align: center;
}

@media (min-width: 576px) {
  html body .leadbooster#LeadboosterContainer{
    bottom: 12px !important;
  }
}
